In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('Tabelas/amostras_df.csv', sep=',', encoding='utf-8')

In [3]:
df.head()

,Data da Coleta,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Valor de Venda,Unidade de Medida,Bandeira
0,2012-01-02,NE,BA,CAETITE,DIESEL,2.080,Litro,IPIRANGA
1,2012-01-02,S,RS,CANOAS,ETANOL,2.299,Litro,IPIRANGA
2,2012-01-02,SE,MG,JUIZ DE FORA,ETANOL,2.299,Litro,PETROBRAS DISTRIBUIDORA S.A.
3,2012-01-02,S,RS,SAO LUIZ GONZAGA,GASOLINA,2.890,Litro,COSAN LUBRIFICANTES
4,2012-01-02,N,PA,PARAUAPEBAS,DIESEL,2.287,Litro,PETROBRAS DISTRIBUIDORA S.A.

In [4]:
df['Data da Coleta'] = df['Data da Coleta'].astype('datetime64[ns]')

df.head()

,Data da Coleta,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Valor de Venda,Unidade de Medida,Bandeira
0,2012-01-02,NE,BA,CAETITE,DIESEL,2.080,Litro,IPIRANGA
1,2012-01-02,S,RS,CANOAS,ETANOL,2.299,Litro,IPIRANGA
2,2012-01-02,SE,MG,JUIZ DE FORA,ETANOL,2.299,Litro,PETROBRAS DISTRIBUIDORA S.A.
3,2012-01-02,S,RS,SAO LUIZ GONZAGA,GASOLINA,2.890,Litro,COSAN LUBRIFICANTES
4,2012-01-02,N,PA,PARAUAPEBAS,DIESEL,2.287,Litro,PETROBRAS DISTRIBUIDORA S.A.

In [5]:
df = df.set_index("Data da Coleta")

In [6]:
df.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Valor de Venda,Unidade de Medida,Bandeira
Data da Coleta,,,,,,,
2012-01-02,NE,BA,CAETITE,DIESEL,2.080,Litro,IPIRANGA
2012-01-02,S,RS,CANOAS,ETANOL,2.299,Litro,IPIRANGA
2012-01-02,SE,MG,JUIZ DE FORA,ETANOL,2.299,Litro,PETROBRAS DISTRIBUIDORA S.A.
2012-01-02,S,RS,SAO LUIZ GONZAGA,GASOLINA,2.890,Litro,COSAN LUBRIFICANTES
2012-01-02,N,PA,PARAUAPEBAS,DIESEL,2.287,Litro,PETROBRAS DISTRIBUIDORA S.A.

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error

# Carregar os dados (substitua 'seu_arquivo.csv' pelo nome do seu arquivo)
data = pd.read_csv('Tabelas/amostras_df.csv', parse_dates=['Data da Coleta'])
data.set_index('Data da Coleta', inplace=True)

# Selecionar a coluna de interesse para previsão (exemplo: 'Valor de Venda')
target_column = 'Valor de Venda'
series = data[target_column]

# Treinamento do modelo SARIMA
order = (5, 1, 0)  # Parâmetros do modelo ARIMA (p, d, q)
seasonal_order = (2, 1, 1, 12)  # Parâmetros do componente sazonal (P, D, Q, S)
model = SARIMAX(series, order=order, seasonal_order=seasonal_order)
model_fit = model.fit()

# Fazer previsões para os próximos 10 anos (3650 dias)
forecast_steps = 3650
forecast = model_fit.get_forecast(steps=forecast_steps)

# Criar um índice de datas para as previsões
last_date = series.index[-1]
forecast_index = pd.date_range(start=last_date, periods=forecast_steps, freq='D')

# Criar um DataFrame com as previsões
forecast_df = pd.DataFrame({'Previsão': forecast.predicted_mean.values}, index=forecast_index)

# Plotar o gráfico das previsões
plt.figure(figsize=(10, 6))
plt.plot(series, label='Dados Originais')
plt.plot(forecast_df, label='Previsões')
plt.xlabel('Data')
plt.ylabel('Valor de Venda')
plt.title('Previsões com Modelo SARIMA')
plt.legend()
plt.show()

c:\Users\jacks\OneDrive\Projetos\combustiveis_automotivos\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)