In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [15]:
amostra_df = pd.read_csv(f"Tabelas/amostra_series_df.csv")
amostra_df = amostra_df.set_index("Data da Coleta")
amostra_df

,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Valor de Venda,Unidade de Medida,Bandeira,Ano,Mes,Dia
Data da Coleta,,,,,,,,,,
2012-01-02,S,RS,TRAMANDAI,ETANOL,2.499,Litro,IPIRANGA,2012,1,2
2012-01-02,S,RS,NOVO HAMBURGO,DIESEL,2.049,Litro,PETROBRAS DISTRIBUIDORA S.A.,2012,1,2
2012-01-02,SE,SP,TUPA,GASOLINA,2.790,Litro,RAIZEN,2012,1,2
2012-01-02,SE,SP,ARARAQUARA,GASOLINA,2.529,Litro,BRANCA,2012,1,2
2012-01-02,NE,BA,CAMACARI,DIESEL,1.980,Litro,RAIZEN,2012,1,2
...,...,...,...,...,...,...,...,...,...,...
2022-12-30,S,SC,BLUMENAU,GASOLINA ADITIVADA,5.140,Litro,IPIRANGA,2022,12,30
2022-12-30,S,RS,PASSO FUNDO,GASOLINA ADITIVADA,4.990,Litro,BRANCA,2022,12,30
2022-12-30,SE,SP,PIRACICABA,GASOLINA ADITIVADA,4.930,Litro,BRANCA,2022,12,30
2022-12-30,S,SC,BLUMENAU,GASOLINA,5.140,Litro,VIBRA ENERGIA,2022,12,30
2022-12-30,SE,SP,PIRACICABA,GASOLINA,4.790,Litro,RAIZEN,2022,12,30

In [16]:
amostra_df.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Produto',
       'Valor de Venda', 'Unidade de Medida', 'Bandeira', 'Ano', 'Mes', 'Dia'],
      dtype='object')

In [17]:
lista_de_colunas = ['Regiao - Sigla', 'Estado - Sigla', 'Produto']

machine_learning_df = amostra_df[lista_de_colunas]
machine_learning_df = pd.get_dummies(machine_learning_df)

In [18]:
machine_learning_df.head()

,Regiao - Sigla_CO,Regiao - Sigla_N,Regiao - Sigla_NE,Regiao - Sigla_S,Regiao - Sigla_SE,Estado - Sigla_AC,Estado - Sigla_AL,Estado - Sigla_AM,Estado - Sigla_AP,Estado - Sigla_BA,...,Estado - Sigla_SE,Estado - Sigla_SP,Estado - Sigla_TO,Produto_DIESEL,Produto_DIESEL S10,Produto_DIESEL S50,Produto_ETANOL,Produto_GASOLINA,Produto_GASOLINA ADITIVADA,Produto_GNV
Data da Coleta,,,,,,,,,,,,,,,,,,,,,
2012-01-02,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2012-01-02,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2012-01-02,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
2012-01-02,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
2012-01-02,False,False,True,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False

In [19]:
machine_learning_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1675306 entries, 2012-01-02 to 2022-12-30
Data columns (total 39 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Regiao - Sigla_CO           1675306 non-null  bool
 1   Regiao - Sigla_N            1675306 non-null  bool
 2   Regiao - Sigla_NE           1675306 non-null  bool
 3   Regiao - Sigla_S            1675306 non-null  bool
 4   Regiao - Sigla_SE           1675306 non-null  bool
 5   Estado - Sigla_AC           1675306 non-null  bool
 6   Estado - Sigla_AL           1675306 non-null  bool
 7   Estado - Sigla_AM           1675306 non-null  bool
 8   Estado - Sigla_AP           1675306 non-null  bool
 9   Estado - Sigla_BA           1675306 non-null  bool
 10  Estado - Sigla_CE           1675306 non-null  bool
 11  Estado - Sigla_DF           1675306 non-null  bool
 12  Estado - Sigla_ES           1675306 non-null  bool
 13  Estado - Sigla_GO           1675306 non-null  bool
 14  Estado - Sigla_MA           1675306 non-null  bool
 15  Estado - Sigla_MG           1675306 non-null  bool
 16  Estado - Sigla_MS           1675306 non-null  bool
 17  Estado - Sigla_MT           1675306 non-null  bool
 18  Estado - Sigla_PA           1675306 non-null  bool
 19  Estado - Sigla_PB           1675306 non-null  bool
 20  Estado - Sigla_PE           1675306 non-null  bool
 21  Estado - Sigla_PI           1675306 non-null  bool
 22  Estado - Sigla_PR           1675306 non-null  bool
 23  Estado - Sigla_RJ           1675306 non-null  bool
 24  Estado - Sigla_RN           1675306 non-null  bool
 25  Estado - Sigla_RO           1675306 non-null  bool
 26  Estado - Sigla_RR           1675306 non-null  bool
 27  Estado - Sigla_RS           1675306 non-null  bool
 28  Estado - Sigla_SC           1675306 non-null  bool
 29  Estado - Sigla_SE           1675306 non-null  bool
 30  Estado - Sigla_SP           1675306 non-null  bool
 31  Estado - Sigla_TO           1675306 non-null  bool
 32  Produto_DIESEL              1675306 non-null  bool
 33  Produto_DIESEL S10          1675306 non-null  bool
 34  Produto_DIESEL S50          1675306 non-null  bool
 35  Produto_ETANOL              1675306 non-null  bool
 36  Produto_GASOLINA            1675306 non-null  bool
 37  Produto_GASOLINA ADITIVADA  1675306 non-null  bool
 38  Produto_GNV                 1675306 non-null  bool
dtypes: bool(39)
memory usage: 75.1+ MB

In [20]:
media_valor = amostra_df['Valor de Venda'].mean()
desvio_padrao_valor = amostra_df['Valor de Venda'].std()

def padronizar_valor(valor):
    return (valor - media_valor) / desvio_padrao_valor

machine_learning_df['Valor de Venda'] = amostra_df['Valor de Venda'].apply(padronizar_valor)

In [21]:
machine_learning_df.head()

,Regiao - Sigla_CO,Regiao - Sigla_N,Regiao - Sigla_NE,Regiao - Sigla_S,Regiao - Sigla_SE,Estado - Sigla_AC,Estado - Sigla_AL,Estado - Sigla_AM,Estado - Sigla_AP,Estado - Sigla_BA,...,Estado - Sigla_SP,Estado - Sigla_TO,Produto_DIESEL,Produto_DIESEL S10,Produto_DIESEL S50,Produto_ETANOL,Produto_GASOLINA,Produto_GASOLINA ADITIVADA,Produto_GNV,Valor de Venda
Data da Coleta,,,,,,,,,,,,,,,,,,,,,
2012-01-02,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,-0.730595
2012-01-02,False,False,False,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,-1.088245
2012-01-02,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,-0.499314
2012-01-02,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,-0.706751
2012-01-02,False,False,True,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,-1.143084

In [22]:
ultima_coluna = machine_learning_df.columns[-1]
coluna_movida = machine_learning_df.pop(ultima_coluna)
machine_learning_df.insert(0, ultima_coluna, coluna_movida)

In [23]:
machine_learning_df.head()

,Valor de Venda,Regiao - Sigla_CO,Regiao - Sigla_N,Regiao - Sigla_NE,Regiao - Sigla_S,Regiao - Sigla_SE,Estado - Sigla_AC,Estado - Sigla_AL,Estado - Sigla_AM,Estado - Sigla_AP,...,Estado - Sigla_SE,Estado - Sigla_SP,Estado - Sigla_TO,Produto_DIESEL,Produto_DIESEL S10,Produto_DIESEL S50,Produto_ETANOL,Produto_GASOLINA,Produto_GASOLINA ADITIVADA,Produto_GNV
Data da Coleta,,,,,,,,,,,,,,,,,,,,,
2012-01-02,-0.730595,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2012-01-02,-1.088245,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2012-01-02,-0.499314,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
2012-01-02,-0.706751,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
2012-01-02,-1.143084,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [24]:
machine_learning_df[['Ano', 'Mes', 'Dia']] = amostra_df[['Ano', 'Mes', 'Dia']]

In [25]:
machine_learning_df.columns

Index(['Valor de Venda', 'Regiao - Sigla_CO', 'Regiao - Sigla_N',
       'Regiao - Sigla_NE', 'Regiao - Sigla_S', 'Regiao - Sigla_SE',
       'Estado - Sigla_AC', 'Estado - Sigla_AL', 'Estado - Sigla_AM',
       'Estado - Sigla_AP', 'Estado - Sigla_BA', 'Estado - Sigla_CE',
       'Estado - Sigla_DF', 'Estado - Sigla_ES', 'Estado - Sigla_GO',
       'Estado - Sigla_MA', 'Estado - Sigla_MG', 'Estado - Sigla_MS',
       'Estado - Sigla_MT', 'Estado - Sigla_PA', 'Estado - Sigla_PB',
       'Estado - Sigla_PE', 'Estado - Sigla_PI', 'Estado - Sigla_PR',
       'Estado - Sigla_RJ', 'Estado - Sigla_RN', 'Estado - Sigla_RO',
       'Estado - Sigla_RR', 'Estado - Sigla_RS', 'Estado - Sigla_SC',
       'Estado - Sigla_SE', 'Estado - Sigla_SP', 'Estado - Sigla_TO',
       'Produto_DIESEL', 'Produto_DIESEL S10', 'Produto_DIESEL S50',
       'Produto_ETANOL', 'Produto_GASOLINA', 'Produto_GASOLINA ADITIVADA',
       'Produto_GNV', 'Ano', 'Mes', 'Dia'],
      dtype='object')

In [26]:
dados_de_treinamento, dados_de_teste = train_test_split(
    machine_learning_df.drop(['Regiao - Sigla_CO', 'Regiao - Sigla_N',
       'Regiao - Sigla_NE', 'Regiao - Sigla_S', 'Regiao - Sigla_SE',
       'Estado - Sigla_AC', 'Estado - Sigla_AL', 'Estado - Sigla_AM',
       'Estado - Sigla_AP', 'Estado - Sigla_BA', 'Estado - Sigla_CE',
       'Estado - Sigla_DF', 'Estado - Sigla_ES', 'Estado - Sigla_GO',
       'Estado - Sigla_MA', 'Estado - Sigla_MG', 'Estado - Sigla_MS',
       'Estado - Sigla_MT', 'Estado - Sigla_PA', 'Estado - Sigla_PB',
       'Estado - Sigla_PE', 'Estado - Sigla_PI', 'Estado - Sigla_PR',
       'Estado - Sigla_RJ', 'Estado - Sigla_RN', 'Estado - Sigla_RO',
       'Estado - Sigla_RR', 'Estado - Sigla_RS', 'Estado - Sigla_SC',
       'Estado - Sigla_SE', 'Estado - Sigla_SP', 'Estado - Sigla_TO',
       'Produto_DIESEL', 'Produto_DIESEL S10', 'Produto_DIESEL S50',
       'Produto_ETANOL', 'Produto_GASOLINA', 'Produto_GASOLINA ADITIVADA',
       'Produto_GNV', 'Ano', 'Mes', 'Dia'], axis=1),
    test_size=0.2,
    random_state=42
)

In [33]:
model_arima = sm.tsa.arima.ARIMA(dados_de_treinamento['Valor de Venda'], order=(1, 1, 1))
res = model_arima.fit(method='lbfgs')
print(res.summary())

c:\Users\jacks\OneDrive\Projetos\combustiveis_automotivos\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\jacks\OneDrive\Projetos\combustiveis_automotivos\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\jacks\OneDrive\Projetos\combustiveis_automotivos\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\jacks\OneDrive\Projetos\combustiveis_automotivos\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\jacks\OneDrive\Projetos\combustiveis_automotivos\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\jacks\OneDrive\Projetos\combustiveis_automotivos\venv\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)

: