In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA

In [3]:
amostra_df = pd.read_csv(f"Tabelas/amostra_series_df.csv")
amostra_df.head()

,Data de Coleta,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Valor de Venda,Unidade de Medida,Bandeira,Ano,Mes,Dia
0,2012-01-02,NE,BA,SALVADOR,GASOLINA,2.799,Litro,PETROBRAS DISTRIBUIDORA S.A.,2012,1,2
1,2012-01-02,CO,MS,TRES LAGOAS,DIESEL,2.279,Litro,PETROBRAS DISTRIBUIDORA S.A.,2012,1,2
2,2012-01-02,SE,SP,ARARAQUARA,GASOLINA,2.529,Litro,BRANCA,2012,1,2
3,2012-01-02,NE,BA,CAMACARI,GASOLINA,2.799,Litro,ELLO-PUMA,2012,1,2
4,2012-01-02,S,PR,FRANCISCO BELTRAO,ETANOL,2.279,Litro,BRANCA,2012,1,2

In [4]:
amostra_df = amostra_df.set_index("Data de Coleta")

In [5]:
amostra_df.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Valor de Venda,Unidade de Medida,Bandeira,Ano,Mes,Dia
Data de Coleta,,,,,,,,,,
2012-01-02,NE,BA,SALVADOR,GASOLINA,2.799,Litro,PETROBRAS DISTRIBUIDORA S.A.,2012,1,2
2012-01-02,CO,MS,TRES LAGOAS,DIESEL,2.279,Litro,PETROBRAS DISTRIBUIDORA S.A.,2012,1,2
2012-01-02,SE,SP,ARARAQUARA,GASOLINA,2.529,Litro,BRANCA,2012,1,2
2012-01-02,NE,BA,CAMACARI,GASOLINA,2.799,Litro,ELLO-PUMA,2012,1,2
2012-01-02,S,PR,FRANCISCO BELTRAO,ETANOL,2.279,Litro,BRANCA,2012,1,2

In [6]:
amostra_df.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Produto',
       'Valor de Venda', 'Unidade de Medida', 'Bandeira', 'Ano', 'Mes', 'Dia'],
      dtype='object')

In [7]:

machine_learning_df = amostra_df.drop(columns=['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Produto', 
                                               'Unidade de Medida', 'Bandeira', 'Ano', 'Mes', 'Dia'])

In [8]:
machine_learning_df.head()

                Valor de Venda
Data de Coleta
2012-01-02               2.799
2012-01-02               2.279
2012-01-02               2.529
2012-01-02               2.799
2012-01-02               2.279

In [9]:
import matplotlib.pyplot as plt
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from sklearn.metrics import mean_squared_error as mae

%matplotlib inline

In [18]:
machine_learning_df.head()

                Valor de Venda
Data de Coleta
02/01/2012               2.799
02/01/2012               2.279
02/01/2012               2.529
02/01/2012               2.799
02/01/2012               2.279

In [12]:
# Formatar a exibição do índice
machine_learning_df.index = pd.to_datetime(machine_learning_df.index)
machine_learning_df.index = machine_learning_df.index.strftime('%d/%m/%Y')

In [23]:
# Converter "Data de Coleta" para o formato ISO8601
machine_learning_df.index = pd.to_datetime(machine_learning_df.index, format='%d/%m/%Y').strftime('%Y-%m-%d')

In [30]:
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from matplotlib import pyplot

In [ ]:
plot_acf(machine_learning_df, lags=60)
pyplot.show()